@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url("img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 30px 20px 30px 20px;
    height: 620px;
    width: 350px;
    background-color: rgba(87, 65, 53, 0.4);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(87, 65, 53, 0.4);
    overflow: hidden;

}

.box-login{
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out;
}

.box-reg{
    position: absolute;
    width: 85%;
    top: -620px;
    transition: .5s ease-in-out;
}

.top-header{
    text-align: center;
    margin: 30px 0;
}

.top-header h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.input-group{
    width: 100%;
}

.input-field{
    margin: 12px 0;
    position: relative;
}

.input-box{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    outline: none;
}

.input-field label{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .5s;
}

.input-box:focus ~ label, .input-box:valid ~ label{
    top: 2px;
    font-size: 12px;
    /* color: rgb(240, 35, 35); */
    font-weight: 500;
}

.input-box:focus{
    background: rgb(235, 232, 232);
}

#regEmail:invalid{
    color: rgb(212, 49, 49);
}

.env-area{
    position: absolute;
    top: 25px;
    right: 25px;
}

.env-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eye-area{
    position: absolute;
    top: 25px;
    right: 25px;
}

.eye-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

i{
    position: absolute;
    color: rgb(27, 26, 26);
    cursor: pointer;
}

#eye, #eye-2{
    opacity: 1;
}

#eye-slash, #eye-slash-2{
    opacity: 0;
}

.remember{
    display:flex;
    font-size: 11px;
    margin: 12px 0 30px 0;
    color: #040404;
}
.check{
    margin-right: 8px;
    width: 14px;

}

.input-submit{
    width:100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: rgb(253, 110, 27);
    color: white;
    box-shadow: 0px 4px 20px rgb(10, 10, 10, 0.1);
    cursor: pointer;
    transition: .4s;
}

.input-submit:hover{
    background: rgb(209, 77, 0);
    box-shadow: 0px 4px 20px rgb(10, 10, 10, 0.4);
}

.forgot{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-top: 40px;
}
.forgot a{
    text-decoration: none;
    color: black;
}

.switch{
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 27px;
    width: 85%;
    height: 50px;
    border-radius: 10px;
    background: rgba(153, 150, 149, 0.4);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    over-flow: hidden;
}

.switch a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #040404;
    width: 50%;
    text-decoration: none;
    border-radius: 10px;
    z-index: 20;
}

#btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background: rgb(253, 110, 27);
    transition: .5s ease-in-out;
}